// Typography

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

$opensans: 'Open Sans', sans-serif;
$light: 300;
$normal: 400;
$extrabold: 800;

// Colours

$teal: #1abc9c;
$gray-light: #E6E7E8;
$gray: #A7A9AC;
$gray-dark: #58595B;
$coral: #e74c3c;
$black: #231F20;
