// @import 'bootstrap/*';
// @import 'core';
@import 'bootstrap';
@import 'normalize';

body {
	min-height: 100%;
}

.container {
	width: 100%;
}

form {

	input[type="text"] {
		margin: 5px 0;
		border: 1px solid black;
	}

	.go {
		width: 100px;
		margin: 50px 0 10px 0;
	}
}

.map {
	background: yellow;
}


body {
    font-family:sans-serif;
}

body {
    font-family:sans-serif;
}

.genre {
    margin:4px;
    float:left;

    label {
        float:left;
        width:170px;
        margin:4px;
        background-color:#EFEFEF;
        border-radius:4px;
        border:1px solid #D0D0D0;
        overflow:auto;

        &:hover {
        	background: red;
        }
    }

    input {
        display: none;
    }

    span {
        text-align:center;
        font-size: 32px;
        padding:13px 0px;
        display:block;
    }

    input:checked + span {
        background-color: #404040;
        color: #F7F7F7;
    }

}

#mapCanvas {
	height: 100vh;
}

.playlist {
	overflow: scroll;
}