// @import 'bootstrap/*';
// @import 'core';
@import "bootstrap";
@import "core";
@import "normalize";

h1 {
    margin: 40px auto 20px auto;
    text-transform: uppercase;
    font-weight: $extrabold;
    font-size: 5rem;
    text-align: center;
    background: url(../img/bg.jpg) 50% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0, 0, 0, 0);
}

h2 {
	margin: 30px auto;
	font-weight: $light;
}

form {
	margin: 40px auto;
	
	.form-group {
		margin: 10px 5px;
		text-align: left;
	
		label {
			text-align: left;
			font-weight: $normal;
		} 
	    input[type="text"] {
			border: 1px solid white;
			background: none;
			padding: 10px;
			width: 100%;

			&:focus {
				outline: 0;
			}
	    }
	}
    
	input[type="submit"] {
		width: 200px;
		background: none;
		padding: 10px;
		border: 1px solid white;
	}
}

.genre {
    margin: 20px auto 40px auto;

    label {
        width: 100px;
        height: 100px;
        margin: 5px;
        border-radius: 50px;
        border: 1px solid white;
        font-weight: $normal;
        transition: all .2s ease-in-out;
        &:hover {
            background: rgba(255, 255, 255, 0.5);
            transform: scale(1.15);
            cursor: pointer;
        }
        &:active {
        	background: rgba(78, 255, 252, 0.5);
        }
    }
    input {
        display: none;
    }
    span {
        text-align: center;
        font-size: 1rem;
        padding: 0;
        display: block;
        line-height: 100px;
    }
    input:checked + span {
        font-weight: $extrabold;
    }
}

#mapCanvas {
    height: 100vh;
}

.playlist {
    overflow: scroll;
}

.map {}